.style-logo {
  display: block;
  margin: 0 auto;
}

.style-nav .desktop-menu {
  display: none;
}

.style-nav ul li a {
  text-decoration: none;
  color: #481559;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ ul {
  display: none;
}

input[type="checkbox"]:checked + label {
  content: "\f039";
  font-family: FontAwesome;
}
input[type="checkbox"]:checked + label:before {
  content: "\f039";
  font-family: FontAwesome;
}

/* Tablet View */

@media (min-width: 768px) {
  .style-nav ul li {
    padding: 8px;
  }

  .style-nav ul {
    flex-direction: row;
  }

  .style-nav .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .style-nav .mobile-menu {
    display: none;
  }
}
