#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.menu {
  display: flex;
}

.menu ul li a {
  color: #481559;
  display: block;
  text-align: center;
  padding: 8px;
}

.menu .desktop-menu {
  display: none;
  font-size: 15px;
}

.menu .mobile-menu {
  display: flex;
  align-items: center;
}

.mobile-menu .mobile-menu-basic {
  display: flex;
  font-size: 15px;
}

.mobile-menu .mobile-menu-hamburger {
  margin-left: 10px;
  margin-right: 5px;
  width: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .mobile-menu-hamburger__bars {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] + label:before {
  content: "\f039";
  font-family: FontAwesome;
}
input[type="checkbox"]:checked + label:before {
  content: "\f00d";
  font-family: FontAwesome;
}

#mobile-menu__clicked {
  display: none;
  margin: 0 30px;
}

#mobile-menu__clicked .mobile-menu-hamburger__bar {
  padding: 20px 35px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #efefef;
}

#ad-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.ad-banner__titles {
  display: flex;
  justify-content: center;
  color: #bbbbbb;
}

.ad-banner__title {
  padding: 20px 10px 10px 10px;
}

.ad-banner__tabs {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #bbbbbb;
}

.tabcontent {
  display: none;
  text-align: center;
  padding: 6px 12px;
  background-color: #efefef;
}

.content_selected {
  display: block;
  background-color: blue;
}

.title_selected {
  color: black;
  border-bottom: 1px solid #481559;
}

.ad-banner__title:hover {
  color: black;
}

/* Tablet View */

@media (min-width: 768px) {
  .menu ul li {
    padding: 8px;
  }

  .menu ul {
    flex-direction: row;
  }

  .menu .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu .mobile-menu-basic,
  .menu .mobile-menu-hamburger {
    display: none;
  }

  #mobile-menu__clicked {
    position: absolute;
    top: -2000px;
  }
}
